html {
	font-size: 8px;
	@include viewport-md {
		font-size: 10px;
	}
}
body {
	font-family: 'Montserrat';
	background: var(--main-color);
	color: var(--main-text-color);
	font-size: 2.4rem;
	transition: background .2s ease, color .2s ease;
}

