@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-gradient {
  background: var(--hero-name-background);
  background-clip: text;
  color: transparent;
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin excel-cell {
  position: relative;
  width: fit-content;

  &::before {
    position: absolute;
    inset: -2px;
    content: "";
    border: var(--main-border);
    border-width: 4px;
    border-color: var(--excel);
    pointer-events: none;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--background);
    background-color: var(--excel);
  }
}

@mixin paper-background {
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    content: "";
    background-size: 109px;
    background-repeat: repeat;
    background-image: url("src/img/noise.png");
    opacity: 0.06;
  }
}

@mixin host-selector($selector) {
  :host-context(#{$selector}) & {
    @content;
  }
}

@mixin class-parent($parent-class) {
  &#{$parent-class},
  #{$parent-class} & {
    @content;
  }
}

@mixin dark-class-parent($parent-class: ".dark") {
  @include class-parent($parent-class) {
    @content;
  }
}

@mixin apply-inverted() {
  @include dark-class-parent() {
    --background: var(--background-invert);
    --text: var(--text-invert);
    --main-border: 2px solid var(--text);
  }
}

// typograpgy

@mixin h1 {
  font-size: var(--heading-h1);
  line-height: inherit;
}

@mixin h2 {
  font-size: var(--heading-h2);
  line-height: inherit;
}

@mixin h3 {
  font-size: var(--heading-h3);
  line-height: inherit;
}

@mixin h4 {
  font-size: var(--heading-h4);
  line-height: inherit;
}

@mixin h5 {
  font-size: var(--heading-h5);
  line-height: inherit;
}

@mixin h6 {
  font-size: var(--heading-h6);
  line-height: inherit;
}

@mixin base-text {
  font-size: 1rem;
  line-height: inherit;
}

@mixin small-text {
  font-size: var(--small-text);
  line-height: 1.4;
}

@mixin large-text {
  font-size: var(--large-text);
  line-height: 1.4;
  letter-spacing: -0.6px;
}
