.causes {
  padding: var(--layout-padding);

  display: flex;
  align-items: flex-start;
  gap: 20px;

  min-height: 400px;
  padding-left: 30px;
  padding-right: 30px;

  @include apply-inverted();

  background-color: var(--background);
  color: var(--text);

  padding-top: 90px;
  padding-bottom: 90px;

  @include paper-background;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    position: sticky;
    top: 90px;
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid var(--text);

    position: relative;
    padding-top: 32px;
    padding-bottom: 16px;

    &::after {
      position: absolute;
      inset: 0;
      background-color: var(--background);
      content: "";
      will-change: transform;
      transform: scaleY(0);
      transition: 0.2s transform ease-in-out;
      transform-origin: bottom;
      mix-blend-mode: exclusion;
    }

    @include hover() {
      &::after {
        transform: scaleY(100%);
      }
    }
  }

  &__number {
    width: 80px;
    height: fit-content;
    line-height: calc(var(--heading-h3));
  }

  &__answer {
    width: 80%;
  }

  &__title {
    padding-bottom: 16px;
  }

  &__description {
    position: relative;
  }
}
