.contains {
  padding: var(--inside-padding);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;

  min-height: 400px;

  background-color: var(--background);

  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  position: relative;
  z-index: 4;
  will-change: transform;

  view-timeline-name: --cards-element-scrolls-in-body;

  @include width-less-than(1100) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
    flex: 1;
    position: sticky;
    top: 5.625rem;

    @include width-less-than(1100) {
      position: static;
    }
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }

  &__progress {
    flex: none;
    height: 4px;
    background-color: #e5dcd7;
    content: "";
    margin-bottom: 2rem;

    @include width-less-than(1100) {
      display: none;
    }

    &::after {
      background-color: black;
      width: 100%;
      display: block;
      height: 100%;
      transform: scaleX(var(--progress));
      transform-origin: 0 50%;
      content: "";
    }
  }

  &__cards {
    --numcards: 3;

    flex: 0 1 50%;
    padding-top: vh(50);
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), 1fr);
    row-gap: 2.5rem;

    @include width-less-than(1100) {
      padding-top: 3rem;
    }
  }

  &__card {
    transform-origin: 50% 0;
    will-change: transform;
    overflow: hidden;

    --card-top-offset: 2rem;

    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);

    // --start-range: calc(var(--index0) / var(--numcards) * 100%);
    // --end-range: calc((var(--index)) / var(--numcards) * 100%);
    // animation: linear scale forwards;
    // animation-timeline: --cards-element-scrolls-in-body;
    // animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);

    position: sticky;
    top: calc(var(--index) * var(--card-top-offset));
    z-index: var(--index);

    &.card-1 {
      --index: 1;
    }

    &.card-2 {
      --index: 2;
    }

    &.card-3 {
      --index: 3;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 20px;
  gap: 20px;
  border: var(--main-border);
  background-color: var(--background);


  @include width-less-than(600) {
    padding: 20px 20px 10px;
  }

  &__title {
    line-height: 1;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    transform: translate(-10px, -10px);
    background-color: var(--background);
    z-index: -1;
  }
}

@keyframes scale {
  to {
    transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  }
}

@keyframes scaleX {
  to {
    transform: scaleX(1);
  }
}
