.header {
  position: sticky;
  top: 0;

  border: var(--main-border);
  background: var(--background);
  // padding: var(--layout-padding);

  display: flex;

  min-height: 50px;

  z-index: 10;

  &__menu {
    display: flex;
  }

}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    transition: color .2s ease;
    opacity: 1;
  }

  &__item {
    height: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-right: var(--main-border);
    position: relative;
    cursor: pointer;

    @include hover() {
      .menu__text {
        opacity: 0.5;
      }
    }

    &.active {
      @include excel-cell;
    }
  }
}