.main {
  border: var(--main-border);
  margin: var(--layout-padding);
  padding: var(--inside-padding);
  margin-bottom: 0;

  display: flex;
  flex-direction: column;

  min-height: calc(var(--min-h-section));

  position: relative;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;
    position: relative;
  }

  &__title {
    // color: var(--text-invert);
    // mix-blend-mode: exclusion;

    padding: 0 var(--inside-padding);
    margin-bottom: 40px;

    @include width-less-than(600) {
      font-size: 44px;
    }
  }

  &__description {
    color: var(--excel);
    background-color: var(--background);
    // font-size: 16px;
  }
}

.svg-dots {
  width: 100%;
  height: 100%;
}

.cursor {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.celled-block {
  display: grid;
  grid-template-columns: repeat(var(--columns), calc(100vw / var(--columns)));

  &__item {
    width: calc(100vw / var(--columns));
    aspect-ratio: 1;
    display: block;
    cursor: pointer;

    background: green;
    opacity: 0;

    // background-color: green;
    // opacity: 0;

    transition: opacity 0.2s;
    // // animation: bg 2s;

    // // animation-play-state: paused;

    // &:hover {
    //   transition: opacity 0.1s;
    //   opacity: 1;
    //   animation: bg 2s 0.5s;
    //   // animation-play-state: running;
    // }
  }
}

@keyframes bg {
  100% {
    opacity: 0;
  }
}

.canvas-interaction-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  mask-image: linear-gradient(black 10%, rgba(0, 0, 0, 0) 90%);
}

.dot-canvas {
  display: block;
  width: 110%;
  height: 110%;
}
