@import "fonts";
@import "reset";
@import "vars";
@import "mixins";
@import "global";
@import "main";
@import "header";
@import "intro";
@import "causes";
@import "tasks";

body {
  min-height: 10000px;
}

.special-cell {
  display: inline-block;

  padding: 10px 20px;

  @include excel-cell;
}
