@import "fonts";
@import "reset";
@import "vars";
@import "mixins";
@import "adaptive";
@import "global";
@import "main";
@import "header";
@import "intro";
@import "causes";
@import "tasks";
@import "contains";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/effect-fade";

@import "facts";
@import "program";
@import "author";
@import "touch";

html {
  @include width-between-property(font-size, 1440, 16, 2560, 28, false, true);
  @include width-between-property(font-size, 600, 12, 1439, 16, true, false);
}

:root {
  @include width-less-than(600) {
    --layout-padding: 8px;
  }

  @include width-less-than(600) {
    --inside-padding: 12px;
  }
}

body {
  min-height: 10000px;
}

.special-cell {
  display: inline-block;

  padding: 10px 20px;

  @include excel-cell;
}
