.touch {
  background: var(--background);

  padding: var(--inside-padding);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;

  position: relative;
  z-index: 4;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  min-height: vh(100);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  @include width-less-than(1024) {
    flex-direction: column;
    gap: 4rem;
  }

  &__left {
    flex: 1;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;

    gap: 1.85rem;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
  }

  &__celled {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__form-wrapper {
    position: relative;

    width: 80%;

    @include width-less-than(1024) {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 1;
    transition: opacity 0.4s ease;

    &.hidden {
      opacity: 0;
    }
  }

  &__form-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__control {
    height: 54px;
    min-width: 400px;
    border: 2px solid var(--text);
    border-radius: unset;
    padding: 16px 20px;
    font-size: 18px;
    font-family: inherit;
    background-color: var(--background);

    @include width-less-than(1024) {
      min-width: auto;
    }

    &:focus {
      outline: none;
      border: 2px solid var(--excel);
    }

    &::placeholder {
      color: var(--text-addition-color);
    }
  }

  &__textarea {
    height: unset;
    resize: vertical;
    max-height: 250px;
    min-height: 54px;
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
  }

  &__success {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

    text-align: center;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__success-image {
    width: 300px;
    height: auto;
  }

  &__stepik {
    width: fit-content;
    background-color: #222;
    border-radius: 8px;
    padding: 1rem;

    margin-top: 2rem;

    display: flex;
    gap: 2rem;
    align-items: center;

    color: #fff;
  }

  &__stepik-image {
    width: 200px;
    height: auto;
  }

  &__link-icon {
    width: 40px;
    height: 40px;

    color: #fff;
  }
}
